body {
    padding: 20px;
    font-size: 14px;
}

h1 {
    font-size: 24px;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
}

.top-buttons a {
    margin-left: 0;
}

.main-view {
    margin: auto;
    max-width: 900px;
}