.btn {
    cursor: pointer;
    color: #fff;
    margin: 5px;
    box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    margin-left: 2.5rem;
    transition: all 0.3s ease;
    border: 0.125rem solid transparent;
    background-color: #98878b;
    outline: none;
}
.btn:hover {
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}

.btn-active {
    background-color: #ff2052;
}