.btn {
    cursor: pointer;
    color: #fff;
    margin: 5px;
    box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    margin-left: 2.5rem;
    transition: all 0.3s ease;
    border: 0.125rem solid transparent;
    background-color: #b0a3a7;
    outline: none;
}
.btn:hover {
    transition: all 0.3s ease;
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}

.btn-primary {
    background-color: #02b3e4;
}

.btn-active {
    background-color: #ff5483;
}

.btn-edit {
    background-color: #ffa234;
    margin: 0;
}

.priority-symbol {

}