.reminder-list {
    margin-top: 20px;
}

.reminder-list .container {
    display: grid;
    grid-template-columns: 2fr 10fr 80px;
    grid-template-rows: auto auto;
    grid-column-gap: 15px;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    margin-bottom: 10px;
    padding: 10px 5px;
    border-radius: 0.375rem;
}

.reminder-list .first-column {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.reminder-list .second-column {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.reminder-list .third-column {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    align-self: center;
}

.reminder-list .first-column.second-row {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.reminder-list .second-column.second-row {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.reminder-list .title-symbol-container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    margin-bottom: 8px;
}

.reminder-list .second-column .title {
    grid-column: 1 / 2;
}

.reminder-list .second-column .priority-symbol-container {
    grid-column: 2 / 3;
}

.reminder-list .second-column.notes {
    border: 1px solid #b0a3a7;
    border-radius: 0.25rem;
    padding: 4px;
}



