<div class="first-button-group">
    <button
            class="btn"
            filter-option="dueDateByNum"
            onclick="window.FPCtrl.setFilterBy('dueDateByNum')">
        By due Date
    </button>
    <button
            class="btn"
            filter-option="createdOn"
            onclick="window.FPCtrl.setFilterBy('createdOn')">
        By created Date
    </button>
    <button
            class="btn"
            filter-option="priority"
            onclick="window.FPCtrl.setFilterBy('priority')">
        By Importance
    </button>
</div>
<div class="finished-filter">
    <button class="btn" onclick="window.FPCtrl.toggleFinished()">
        Show Finished
    </button>
</div>
