<div class="first-button-group">
    <button
            class="btn"
            filter-option="finishDate"
            onclick="window.FPCtrl.setFilterBy('finishDate')">
        By finish Date
    </button>
    <button
            class="btn"
            filter-option="createdDate"
            onclick="window.FPCtrl.setFilterBy('createdDate')">
        By created Date
    </button>
    <button
            class="btn"
            filter-option="importance"
            onclick="window.FPCtrl.setFilterBy('importance')">
        By Importance
    </button>
</div>
<div class="finished-filter">
    <button class="btn" onclick="window.FPCtrl.toggleFinished()">
        Show Finished
    </button>
</div>
