<div class="top-buttons">
    <a href="" onclick="window.MCtrl.renderCreateNewReminderView()" class="btn btn-primary">Create New Note</a>
    <select>
        <option value="normal">Normal</option>
        <option value="blackWhiteStyle">BlackWhite-Style</option>
    </select>
</div>
<div class="filter-panel">

</div>
<div class="reminder-list">

</div>