<div class="top-buttons">
    <button onclick="window.MCtrl.renderReminderDetailView()" class="btn btn-primary">Create New Note</button>
    <select>
        <option value="normal">Normal</option>
        <option value="blackWhiteStyle">BlackWhite-Style</option>
    </select>
</div>
<div class="filter-panel">

</div>
<div class="reminder-list">

</div>